@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@400;500;700&family=Source+Sans+Pro:wght@300;400;600;700&display=swap');

body {
  margin: 0;
  font-family: 'Source Sans Pro', 'Alegreya Sans', sans-serif;
}
a {
  color: #fff;
}

.logo {
  display: block;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
}

.ant-layout-header {
  display: flex;
  justify-content: space-between;
}

.collapse-menu {
  display: none;
}

.ant-menu-inline {
  margin-top: 24px;
}
.ant-drawer-close {
  right: 20px;
}

.ant-layout {
  background: none;
}

.menu-btn {
  margin: 16px 0;
  float: right;
}

.content {
  width: 100%;
  margin: 0 auto;
}

.banner-container {
  width: 90%;
  display: flex;
  flex-direction: column;
  padding: 24px 14px;
  align-items: center;
  margin: 0 auto;
  justify-content: space-between;
}

h1.ant-typography {
  font-family: 'Alegreya Sans';
}

.ant-row {
  justify-content: space-between;
}

.banner-container .get-btn {
  margin: 24px 0;
}

.banner-container span.ant-typography {
  margin-bottom: 24px;
}
.ant-col {
  width: 100%;
  margin: 12px auto;
}

img {
  width: 100%;
  margin: 0 auto;
}

.container {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

.statistic {
  width: 100%;
  padding: 24px 0;
  background-color: #f0f5ff;
}

.statistic .ant-card {
  background: none;
}

.statistic .text-light {
  font-size: 24px;
  color: #111;
  margin: 0;
  font-weight: 400;
}

.popular-entities {
  text-align: left;
  margin-top: 24px;
}

.popular-entities .ant-btn {
  margin-top: 24px;
}

.quotes {
  background: #f0f5ff;
}

.quotes .ant-typography {
  text-align: left;
}

.quotes .quotes-para {
  margin: 24px 0;
}

.quotes .director-img {
  width: 100%;
}

.support .support-team {
  color: #eb2f96;
}

.support .support-time {
  color: #1890ff;
}

.support .support-payment {
  color: #52c41a;
}

.faq .ant-collapse > .ant-collapse-item > .ant-collapse-header {
  text-align: left;
}

.faq .ant-typography {
  text-align: left;
  margin: 24px 0;
}

.faq .faq .ant-typography p {
  text-align: left;
}

.footer {
  background: #001529;
}

.footer .ant-layout-footer {
  background: none;
}

.footer .footer-top {
  text-align: left;
}

.footer-top .ant-typography {
  color: #fff;
}

.footer .footer-bottom {
  text-align: center;
  background: rgba(3, 24, 46, 0.95);
}

.footer .footer-bottom .ant-typography {
  color: #fff;
  margin-bottom: 0;
}

.footer .ant-layout-footer {
  padding: 24px 20px;
  margin-top: 24px;
}

.footer .footer-content {
  height: 100%;
}

.breadcrumb .ant-breadcrumb {
  font-family: 'Source Sans Pro';
  width: 100%;
  padding: 24px 0;
  text-align: left;
}

.gst-main .gst-tab-link {
  text-align: left;
}

.gst-main .gst-tab-link .ant-anchor-link-title {
  font-size: 16px;
  padding: 5px 0;
}

.gst-reg {
  margin-bottom: 32px;
}

.gst-pricing .ant-typography {
  margin-top: 24px;
}

.gst-pricing .ant-card .card-head {
  margin-bottom: 24px;
  background: #1890ff;
  padding: 16px;
}

.gst-pricing .ant-statistic-title,
.ant-statistic-content-value {
  color: #fff;
}

.gst-pricing .card-body .ant-btn-primary {
  margin-top: 24px;
}

.gst-cases {
  width: 100%;
  text-align: left;
  margin: 24px 0;
}

.gst-docs,
.gst-faq,
.gst-pricing,
.gst-reg {
  width: 100%;
  text-align: left;
}

.gst-faq {
  margin-bottom: 24px;
}

.tick-icon {
  color: #52c41a;
  padding-right: 24px;
}

.gst-docs .ant-timeline {
  margin: 32px 0;
}

@media screen and (max-width: 995px) {
  .navbar {
    display: none;
  }
  .action {
    display: none;
  }
  .collapse-menu {
    display: block;
  }
  .ant-layout-header {
    padding: 0 30px;
  }
  h1.ant-typography {
    font-size: 32px;
    font-family: 'Alegreya Sans';
  }
  .banner-img {
    width: 300px;
  }
}

@media screen and (max-width: 767px) {
  .gst-tab-link {
    display: none;
  }
}
