@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@400;500;700&family=Source+Sans+Pro:wght@300;400;600;700&display=swap');

body {
  margin: 0;
  font-family: 'Source Sans Pro', 'Alegreya Sans', sans-serif;
}
a {
  color: #fff;
}

.logo {
  display: block;
  color: #111;
  font-size: 18px;
  font-weight: 500;
}

.ant-layout-header {
  display: flex;
  justify-content: space-between;
  /* background: #fff; */
  /* border-bottom: 1px solid #f0f0f0; */
}

.navbar .ant-menu {
  background: none;
  color: #fff;
}

.navbar .ant-menu-horizontal > .ant-menu-submenu > .ant-menu-submenu-title {
  background: none;
  color: #fff;
}

.navbar .ant-menu-horizontal {
  border-bottom: none;
}

.navbar .ant-menu .ant-menu-item-selected {
  color: #111;
}

.collapse-menu {
  display: none;
}

.ant-menu-inline {
  margin-top: 32px;
}
.ant-drawer-close {
  right: 20px;
}

.ant-layout {
  background: none;
}

.menu-btn {
  margin: 16px 0;
  float: right;
}

.content {
  width: 100%;
  margin: 0 auto;
}

.banner-container {
  width: 90%;
  display: flex;
  flex-direction: column;
  padding: 24px 0;
  align-items: center;
  margin: 0 auto;
  justify-content: space-between;
}

.service-container {
  width: 90%;
  display: flex;
  flex-direction: column;
  padding: 24px 0;
  margin: 0 auto;
  justify-content: space-between;
}

h1.ant-typography {
  font-family: 'Alegreya Sans';
}

.ant-row {
  justify-content: space-between;
}

.banner-container .get-btn {
  margin: 24px 0;
}

.banner-container span.ant-typography {
  margin-bottom: 24px;
}
.ant-col {
  width: 100%;
  margin: 12px auto;
}

img {
  width: 100%;
  margin: 0 auto;
}

.container {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

.statistic {
  width: 100%;
  padding: 24px 0;
  /* background-color: #f0f5ff; */
}

.statistic .ant-card {
  background: none;
  border: none;
}

.statistic .text-light {
  font-size: 24px;
  color: #111;
  margin: 0;
  font-weight: 400;
}

.popular-entities {
  text-align: left;
  margin-top: 24px;
}

.popular-entities .ant-btn {
  margin-top: 24px;
}

.quotes {
  background: #f0f5ff;
  padding: 16px 0;
}

.quotes .ant-typography {
  text-align: left;
}

.quotes .quotes-para {
  margin: 24px 0;
}

.quotes .director-img {
  width: 100%;
}

.support .ant-card {
  border: none;
}

.support img {
  width: 20%;
}

.support .support-team {
  color: #eb2f96;
}

.support .support-time {
  color: #1890ff;
}

.support .support-payment {
  color: #52c41a;
}

.faq .ant-collapse > .ant-collapse-item > .ant-collapse-header {
  text-align: left;
}

.faq .ant-typography {
  text-align: left;
  margin: 24px 0;
}

.faq .faq .ant-typography p {
  text-align: left;
}

.footer {
  background: #001529;
}

.footer .ant-layout-footer {
  background: none;
}

.footer .footer-top {
  text-align: left;
}

.footer-top .ant-typography {
  color: #fff;
}

.footer .footer-bottom {
  text-align: center;
  background: rgba(3, 24, 46, 0.95);
}

.footer .footer-bottom .ant-typography {
  color: #fff;
  margin-bottom: 0;
}

.footer .ant-layout-footer {
  padding: 24px 20px;
  margin-top: 24px;
}

.footer .footer-content {
  height: 100%;
}

.breadcrumb .ant-breadcrumb {
  font-family: 'Source Sans Pro';
  width: 100%;
  padding: 24px 0;
  text-align: left;
}

.gst-main .gst-tab-link {
  text-align: left;
}

.gst-main .gst-tab-link .ant-anchor-link-title {
  font-size: 16px;
  padding: 5px 0;
}

.gst-reg {
  margin-bottom: 32px;
}

.pricing .ant-typography {
  margin-top: 32px;
}

.pricing .ant-card .card-head {
  margin-bottom: 24px;
  background: #1890ff;
  padding: 16px;
}

.pricing .ant-card .ant-statistic-content {
  font-size: 32px;
}

.pricing .ant-statistic-title,
.ant-statistic-content-value {
  color: #fff;
}

.pricing .card-body .ant-btn-primary {
  margin-top: 24px;
}

.gst-cases {
  width: 100%;
  text-align: left;
  margin: 24px 0;
}

.service {
  width: 100%;
  text-align: left;
}

.gst-faq {
  margin-bottom: 24px;
}

.tick-icon {
  color: #52c41a;
  padding-right: 24px;
}

.gst-docs .ant-timeline {
  margin: 32px 0;
}

.gstr-type .ant-pagination {
  display: none;
}

.gstr-type .ant-card {
  margin: 24px 0;
}

.gstr-type div.ant-typography,
.ant-typography p {
  margin-bottom: 24px;
}

.emoji {
  margin-right: 12px;
}

.check {
  color: #52c41a;
}

.uncheck {
  color: #ff4d4f;
}

.softcopy {
  color: #1890ff;
}

.itrOne-eligibility {
  margin-top: 32px;
}

.service {
  margin: 0 0 24px 0;
}

.rupees {
  width: 14px;
}

.rating .ant-rate-star:not(:last-child) {
  margin: 5px;
}

.rating h2.ant-typography,
.ant-typography h2 {
  margin: 0;
}

.rating .ant-rate-star {
  padding: 0;
  margin: 0;
}

.owl-nav {
  text-align: right;
  margin: 0 12px;
}

.owl-prev span {
  font-size: 32px;
  padding: 0 10px;
}

.owl-next span {
  font-size: 32px;
  padding: 0 10px;
}

button:focus,
button:active {
  outline: none;
  border: none;
}

.pf-type {
  margin-top: 48px;
}

.pf-employee .slick-dots {
  bottom: -10;
}

.pf-employee .ant-card {
  height: auto;
}

.ant-timeline {
  margin: 32px 0;
}

@media screen and (max-width: 1220px) {
  .navbar {
    display: none;
  }
  .action {
    display: none;
  }
  .collapse-menu {
    display: block;
  }
}

@media screen and (min-width: 1366px) {
  .service-container {
    width: 80%;
  }
  .banner-container {
    width: 80%;
  }
  .container {
    width: 80%;
  }
}

@media screen and (max-width: 995px) {
  .collapse-menu {
    display: block;
  }
  .ant-layout-header {
    padding: 0 20px;
  }
  h1.ant-typography {
    font-size: 32px;
    font-family: 'Alegreya Sans';
  }
  .banner-img {
    width: 300px;
  }
  .trademark-docs img,
  .tmrenewal-docs img {
    display: none;
  }
  .hide {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .gst-tab-link {
    display: none;
  }
  .owl-nav {
    text-align: center;
  }
}
